<<<<<<< HEAD

/* 1440px 이상일 때 */
@media screen and (min-width:1024px) {
    /* 한국 */
    button.btn1{
        position: absolute;
        top: 50vh;
        right:21vw;
        border-radius: 200px;
        background-color: rgb(204, 0, 255);
    }
    /* 인도  */
    button.btn2{
        position: absolute;
        top: 40vh;
        right:33vw;
        border-radius: 200px;
        background-color:blue;
    }
    /* 터키(튀르키에) */
    button.btn3{
        position: absolute;
        top: 32vh;
        right:43vw;
        border-radius: 200px;
        background-color:red;
    }
    /* 코스타리카 */
    button.btn4{
        position: absolute;
        top: 42vh;
        left:26vw;
        border-radius: 200px;
        background-color:teal;
    }
    /* 일본  */
    button.btn5{
        position: absolute;
        top: 32vh;
        right:18vw;
        border-radius: 200px;
        background-color:orange;
    }
    /* 미국 */
    button.btn6{
        position: absolute;
        top: 32vh;
        left:24vw;
        border-radius: 200px;
        background-color:aqua;
    }
}
/* 컴퓨터일 때 */
@media screen and (min-width:1023px) and (max-width:1440px) {
    /* 한국 */
    button.btn1{
        position: absolute;
        top: 27vh;
        right:21vw;
        border-radius: 200px;
        background-color: rgb(204, 0, 255);
    }
    /* 인도  */
    button.btn2{
        position: absolute;
        top: 30vh;
        right:33vw;
        border-radius: 200px;
        background-color:blue;
    }
    /* 터키(튀르키에) */
    button.btn3{
        position: absolute;
        top: 26vh;
        right:43vw;
        border-radius: 200px;
        background-color:red;
    }
    /* 코스타리카 */
    button.btn4{
        position: absolute;
        top: 32vh;
        left:26vw;
        border-radius: 200px;
        background-color:teal;
    }
    /* 일본  */
    button.btn5{
        position: absolute;
        top: 28vh;
        right:18vw;
        border-radius: 200px;
        background-color:orange;
    }
    /* 미국 */
    button.btn6{
        position: absolute;
        top: 26vh;
        left:24vw;
        border-radius: 200px;
        background-color:aqua;
    }
}

/* 태블릿일 때 버튼 위치  */
@media screen and (min-width:768px) and (max-width:992px) {
    /* 한국 */
    button.btn1{
        position: absolute;
        top: 32vh;
        right:21vw;
        border-radius: 200px;
        background-color: rgb(204, 0, 255);
    }
    /* 인도  */
    button.btn2{
        position: absolute;
        top: 36vh;
        right:33vw;
        border-radius: 200px;
        background-color:blue;
    }
    /* 터키(튀르키에) */
    button.btn3{
        position: absolute;
        top:32vh;
        right:43vw;
        border-radius: 200px;
        background-color:red;
    }
    /* 코스타리카 */
    button.btn4{
        position: absolute;
        top: 40vh;
        left:26vw;
        border-radius: 200px;
        background-color:teal;
    }
    /* 일본  */
    button.btn5{
        position: absolute;
        top: 32vh;
        right:18vw;
        border-radius: 200px;
        background-color:orange;
    }
    /* 미국 */
    button.btn6{
        position: absolute;
        top: 30vh;
        left:24vw;
        border-radius: 200px;
        background-color:aqua;
    }
}
/* 핸드폰일 때  */
@media screen and (max-width:767px) {
    /* 한국 */
    button.btn1{
        position: absolute;
        top: 20vh;
        right:21vw;
        border-radius: 200px;
        background-color: rgb(204, 0, 255);
    }
    /* 인도  */
    button.btn2{
        position: absolute;
        top: 22vh;
        right:34vw;
        border-radius: 200px;
        background-color:blue;
    }
    /* 터키(튀르키에) */
    button.btn3{
        position: absolute;
        top: 19vh;
        right:45vw;
        border-radius: 200px;
        background-color:red;
    }
    /* 코스타리카 */
    button.btn4{
        position: absolute;
        top: 24vh;
        left:18vw;
        border-radius: 200px;
        background-color:teal;
    }
    /* 일본  */
    button.btn5{
        position: absolute;
        top: 18vh;
        right:18vw;
        border-radius: 200px;
        background-color:orange;
    }
    /* 미국 */
    button.btn6{
        position: absolute;
        top: 20vh;
        left:15vw;
        border-radius: 200px;
        background-color:aqua;
    }
=======
<<<<<<< HEAD

/* 1440px 이상일 때 */
@media screen and (min-width:1024px) {
    /* 한국 */
    button.btn1{
        position: absolute;
        top: 50vh;
        right:21vw;
        border-radius: 200px;
        background-color: rgb(204, 0, 255);
    }
    /* 인도  */
    button.btn2{
        position: absolute;
        top: 40vh;
        right:33vw;
        border-radius: 200px;
        background-color:blue;
    }
    /* 터키(튀르키에) */
    button.btn3{
        position: absolute;
        top: 32vh;
        right:43vw;
        border-radius: 200px;
        background-color:red;
    }
    /* 코스타리카 */
    button.btn4{
        position: absolute;
        top: 42vh;
        left:26vw;
        border-radius: 200px;
        background-color:teal;
    }
    /* 일본  */
    button.btn5{
        position: absolute;
        top: 32vh;
        right:18vw;
        border-radius: 200px;
        background-color:orange;
    }
    /* 미국 */
    button.btn6{
        position: absolute;
        top: 32vh;
        left:24vw;
        border-radius: 200px;
        background-color:aqua;
    }
}
/* 컴퓨터일 때 */
@media screen and (min-width:1023px) and (max-width:1440px) {
    /* 한국 */
    button.btn1{
        position: absolute;
        top: 27vh;
        right:21vw;
        border-radius: 200px;
        background-color: rgb(204, 0, 255);
    }
    /* 인도  */
    button.btn2{
        position: absolute;
        top: 30vh;
        right:33vw;
        border-radius: 200px;
        background-color:blue;
    }
    /* 터키(튀르키에) */
    button.btn3{
        position: absolute;
        top: 26vh;
        right:43vw;
        border-radius: 200px;
        background-color:red;
    }
    /* 코스타리카 */
    button.btn4{
        position: absolute;
        top: 32vh;
        left:26vw;
        border-radius: 200px;
        background-color:teal;
    }
    /* 일본  */
    button.btn5{
        position: absolute;
        top: 28vh;
        right:18vw;
        border-radius: 200px;
        background-color:orange;
    }
    /* 미국 */
    button.btn6{
        position: absolute;
        top: 26vh;
        left:24vw;
        border-radius: 200px;
        background-color:aqua;
    }
}

/* 태블릿일 때 버튼 위치  */
@media screen and (min-width:768px) and (max-width:992px) {
    /* 한국 */
    button.btn1{
        position: absolute;
        top: 32vh;
        right:21vw;
        border-radius: 200px;
        background-color: rgb(204, 0, 255);
    }
    /* 인도  */
    button.btn2{
        position: absolute;
        top: 36vh;
        right:33vw;
        border-radius: 200px;
        background-color:blue;
    }
    /* 터키(튀르키에) */
    button.btn3{
        position: absolute;
        top:32vh;
        right:43vw;
        border-radius: 200px;
        background-color:red;
    }
    /* 코스타리카 */
    button.btn4{
        position: absolute;
        top: 40vh;
        left:26vw;
        border-radius: 200px;
        background-color:teal;
    }
    /* 일본  */
    button.btn5{
        position: absolute;
        top: 32vh;
        right:18vw;
        border-radius: 200px;
        background-color:orange;
    }
    /* 미국 */
    button.btn6{
        position: absolute;
        top: 30vh;
        left:24vw;
        border-radius: 200px;
        background-color:aqua;
    }
}
/* 핸드폰일 때  */
@media screen and (max-width:767px) {
    /* 한국 */
    button.btn1{
        position: absolute;
        top: 20vh;
        right:21vw;
        border-radius: 200px;
        background-color: rgb(204, 0, 255);
    }
    /* 인도  */
    button.btn2{
        position: absolute;
        top: 22vh;
        right:34vw;
        border-radius: 200px;
        background-color:blue;
    }
    /* 터키(튀르키에) */
    button.btn3{
        position: absolute;
        top: 19vh;
        right:45vw;
        border-radius: 200px;
        background-color:red;
    }
    /* 코스타리카 */
    button.btn4{
        position: absolute;
        top: 24vh;
        left:18vw;
        border-radius: 200px;
        background-color:teal;
    }
    /* 일본  */
    button.btn5{
        position: absolute;
        top: 18vh;
        right:18vw;
        border-radius: 200px;
        background-color:orange;
    }
    /* 미국 */
    button.btn6{
        position: absolute;
        top: 20vh;
        left:15vw;
        border-radius: 200px;
        background-color:aqua;
    }
=======

/* 1440px 이상일 때 */
@media screen and (min-width:1024px) {
    /* 한국 */
    button.btn1{
        position: absolute;
        top: 50vh;
        right:21vw;
        border-radius: 200px;
        background-color: rgb(204, 0, 255);
    }
    /* 인도  */
    button.btn2{
        position: absolute;
        top: 40vh;
        right:33vw;
        border-radius: 200px;
        background-color:blue;
    }
    /* 터키(튀르키에) */
    button.btn3{
        position: absolute;
        top: 32vh;
        right:43vw;
        border-radius: 200px;
        background-color:red;
    }
    /* 코스타리카 */
    button.btn4{
        position: absolute;
        top: 42vh;
        left:26vw;
        border-radius: 200px;
        background-color:teal;
    }
    /* 일본  */
    button.btn5{
        position: absolute;
        top: 32vh;
        right:18vw;
        border-radius: 200px;
        background-color:orange;
    }
    /* 미국 */
    button.btn6{
        position: absolute;
        top: 32vh;
        left:24vw;
        border-radius: 200px;
        background-color:aqua;
    }
}
/* 컴퓨터일 때 */
@media screen and (min-width:1023px) and (max-width:1440px) {
    /* 한국 */
    button.btn1{
        position: absolute;
        top: 27vh;
        right:21vw;
        border-radius: 200px;
        background-color: rgb(204, 0, 255);
    }
    /* 인도  */
    button.btn2{
        position: absolute;
        top: 30vh;
        right:33vw;
        border-radius: 200px;
        background-color:blue;
    }
    /* 터키(튀르키에) */
    button.btn3{
        position: absolute;
        top: 26vh;
        right:43vw;
        border-radius: 200px;
        background-color:red;
    }
    /* 코스타리카 */
    button.btn4{
        position: absolute;
        top: 32vh;
        left:26vw;
        border-radius: 200px;
        background-color:teal;
    }
    /* 일본  */
    button.btn5{
        position: absolute;
        top: 28vh;
        right:18vw;
        border-radius: 200px;
        background-color:orange;
    }
    /* 미국 */
    button.btn6{
        position: absolute;
        top: 26vh;
        left:24vw;
        border-radius: 200px;
        background-color:aqua;
    }
}

/* 태블릿일 때 버튼 위치  */
@media screen and (min-width:768px) and (max-width:992px) {
    /* 한국 */
    button.btn1{
        position: absolute;
        top: 32vh;
        right:21vw;
        border-radius: 200px;
        background-color: rgb(204, 0, 255);
    }
    /* 인도  */
    button.btn2{
        position: absolute;
        top: 36vh;
        right:33vw;
        border-radius: 200px;
        background-color:blue;
    }
    /* 터키(튀르키에) */
    button.btn3{
        position: absolute;
        top:32vh;
        right:43vw;
        border-radius: 200px;
        background-color:red;
    }
    /* 코스타리카 */
    button.btn4{
        position: absolute;
        top: 40vh;
        left:26vw;
        border-radius: 200px;
        background-color:teal;
    }
    /* 일본  */
    button.btn5{
        position: absolute;
        top: 32vh;
        right:18vw;
        border-radius: 200px;
        background-color:orange;
    }
    /* 미국 */
    button.btn6{
        position: absolute;
        top: 30vh;
        left:24vw;
        border-radius: 200px;
        background-color:aqua;
    }
}
/* 핸드폰일 때  */
@media screen and (max-width:767px) {
    /* 한국 */
    button.btn1{
        position: absolute;
        top: 20vh;
        right:21vw;
        border-radius: 200px;
        background-color: rgb(204, 0, 255);
    }
    /* 인도  */
    button.btn2{
        position: absolute;
        top: 22vh;
        right:34vw;
        border-radius: 200px;
        background-color:blue;
    }
    /* 터키(튀르키에) */
    button.btn3{
        position: absolute;
        top: 19vh;
        right:45vw;
        border-radius: 200px;
        background-color:red;
    }
    /* 코스타리카 */
    button.btn4{
        position: absolute;
        top: 24vh;
        left:18vw;
        border-radius: 200px;
        background-color:teal;
    }
    /* 일본  */
    button.btn5{
        position: absolute;
        top: 18vh;
        right:18vw;
        border-radius: 200px;
        background-color:orange;
    }
    /* 미국 */
    button.btn6{
        position: absolute;
        top: 20vh;
        left:15vw;
        border-radius: 200px;
        background-color:aqua;
    }
>>>>>>> 056b89ef115298f50542ca9be99ba1d8f6206d81
>>>>>>> f1d49be0baeee418e7d0a378a819cb85dcc301dc
}