<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
:root{
    --first-color: #000000;
    --second-color: #fff;
    --third-color:#808080;
    --body-color:#fff;

    /* font */
    --body-font:'Noto Sans KR', sans-serif;
    --h1-font-size: 2rem;
    --h2-font-size:1.5rem;
    --h3-font-size:1.25rem;
    --normal-font-size:1rem;
    --small-font-size:0.8rem;
    --smaller-font-size:0.6rem;
    --font-thin:200;
    --font-regular:400;
    --font-bold:700;
}
body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color:var(--first-color);
}
header{
    background-color: var(--first-color);
    position: fixed;
    
    right:0;
    left:0;
    z-index: 100;
}

.nav.container{
    height:50px; /*헤더바 높이 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 16;
    color:#fff;
}
/* 맥도날드로고  */
.nav-logo>img{
    height: 30px;
    width: 30px;
}
/* 리스트(전체) */
.nav .container{
    display: flex; /* 기본값 : 수평값*/
    justify-self: space-between;
    align-items: center; /*교차축 가운데 */
}
/* 리스트(아이콘) */
.nav-list{
    padding:0;
    display: flex; /*수평으로 정렬*/
    color: var(--first-color);
    list-style: none;
    font-size: var(--h2-font-size);
    column-gap:80px;
    
}

.nav-toggle{
    font-size:var(--h2-font-size);
    margin-right: 20px;
    visibility: hidden;

}
/* footer----------------------------------- */
.page-footer{
    bottom:0;
    right:0;
    left:0;
    z-index: 111;
    background-color: var(--first-color);
    position: fixed;
}
@media screen and (max-width:720px) {
    
}
@media screen and (max-width:540px) {
    .nav{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    /* .nav-list 아래로, 안보이게 */
    .nav-list{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .nav-list li{
        width: 100%;
        text-align: center;
    }
    #nav_toggle{
        display: none;
        justify-content: center;
        width: 100%;
    }
    /* .nav-toggle 보이게 */
    .nav-toggle{
        visibility: visible;
        position: absolute; /*로고를 가운데 정렬(햄버거메뉴가 공간을 차지함)*/
        right:16px; /*햄버거 메뉴 원위치/오른쪽을 기준으로 16px만큼*/
        cursor: pointer;  /*커서 모양 손모양으로 바꾸기 */
        z-index: 33;
    }
    .nav-logo>img{
        height: 30px;
        width: 30px;
        z-index: 32;
    }
    /* .show-menu하면, .nav-list 보이게  */
    
    /* .show-menu하면, .nav-toggle의 모양 X자로 */
    .show-menu{
        display: flex;
        /* backdrop-filter: blur(4px); */
    }
    
=======
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
:root{
    --first-color: #000000;
    --second-color: #fff;
    --third-color:#808080;
    --body-color:#fff;

    /* font */
    --body-font:'Noto Sans KR', sans-serif;
    --h1-font-size: 2rem;
    --h2-font-size:1.5rem;
    --h3-font-size:1.25rem;
    --normal-font-size:1rem;
    --small-font-size:0.8rem;
    --smaller-font-size:0.6rem;
    --font-thin:200;
    --font-regular:400;
    --font-bold:700;
}
body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color:var(--first-color);
}
header{
    background-color: var(--first-color);
    position: fixed;
    
    right:0;
    left:0;
    z-index: 100;
}

.nav.container{
    height:50px; /*헤더바 높이 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 16;
    color:#fff;
}
/* 맥도날드로고  */
.nav-logo>img{
    height: 30px;
    width: 30px;
}
/* 리스트(전체) */
.nav .container{
    display: flex; /* 기본값 : 수평값*/
    justify-self: space-between;
    align-items: center; /*교차축 가운데 */
}
/* 리스트(아이콘) */
.nav-list{
    padding:0;
    display: flex; /*수평으로 정렬*/
    color: var(--first-color);
    list-style: none;
    font-size: var(--h2-font-size);
    column-gap:80px;
    
}

.nav-toggle{
    font-size:var(--h2-font-size);
    margin-right: 20px;
    visibility: hidden;

}
/* footer----------------------------------- */
.page-footer{
    bottom:0;
    right:0;
    left:0;
    z-index: 111;
    background-color: var(--first-color);
    position: fixed;
}
@media screen and (max-width:720px) {
    
}
@media screen and (max-width:540px) {
    .nav{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    /* .nav-list 아래로, 안보이게 */
    .nav-list{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .nav-list li{
        width: 100%;
        text-align: center;
    }
    #nav_toggle{
        display: none;
        justify-content: center;
        width: 100%;
    }
    /* .nav-toggle 보이게 */
    .nav-toggle{
        visibility: visible;
        position: absolute; /*로고를 가운데 정렬(햄버거메뉴가 공간을 차지함)*/
        right:16px; /*햄버거 메뉴 원위치/오른쪽을 기준으로 16px만큼*/
        cursor: pointer;  /*커서 모양 손모양으로 바꾸기 */
        z-index: 33;
    }
    .nav-logo>img{
        height: 30px;
        width: 30px;
        z-index: 32;
    }
    /* .show-menu하면, .nav-list 보이게  */
    
    /* .show-menu하면, .nav-toggle의 모양 X자로 */
    .show-menu{
        display: flex;
        /* backdrop-filter: blur(4px); */
    }
    
=======
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
:root{
    --first-color: #000000;
    --second-color: #fff;
    --third-color:#808080;
    --body-color:#fff;

    /* font */
    --body-font:'Noto Sans KR', sans-serif;
    --h1-font-size: 2rem;
    --h2-font-size:1.5rem;
    --h3-font-size:1.25rem;
    --normal-font-size:1rem;
    --small-font-size:0.8rem;
    --smaller-font-size:0.6rem;
    --font-thin:200;
    --font-regular:400;
    --font-bold:700;
}
body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color:var(--first-color);
}
header{
    background-color: var(--first-color);
    position: fixed;
    
    right:0;
    left:0;
    z-index: 100;
}

.nav.container{
    height:50px; /*헤더바 높이 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 16;
    color:#fff;
}
/* 맥도날드로고  */
.nav-logo>img{
    height: 30px;
    width: 30px;
}
/* 리스트(전체) */
.nav .container{
    display: flex; /* 기본값 : 수평값*/
    justify-self: space-between;
    align-items: center; /*교차축 가운데 */
}
/* 리스트(아이콘) */
.nav-list{
    padding:0;
    display: flex; /*수평으로 정렬*/
    color: var(--first-color);
    list-style: none;
    font-size: var(--h2-font-size);
    column-gap:80px;
    
}

.nav-toggle{
    font-size:var(--h2-font-size);
    margin-right: 20px;
    visibility: hidden;

}
/* footer----------------------------------- */
.page-footer{
    bottom:0;
    right:0;
    left:0;
    z-index: 111;
    background-color: var(--first-color);
    position: fixed;
}
@media screen and (max-width:720px) {
    
}
@media screen and (max-width:540px) {
    .nav{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    /* .nav-list 아래로, 안보이게 */
    .nav-list{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .nav-list li{
        width: 100%;
        text-align: center;
    }
    #nav_toggle{
        display: none;
        justify-content: center;
        width: 100%;
    }
    /* .nav-toggle 보이게 */
    .nav-toggle{
        visibility: visible;
        position: absolute; /*로고를 가운데 정렬(햄버거메뉴가 공간을 차지함)*/
        right:16px; /*햄버거 메뉴 원위치/오른쪽을 기준으로 16px만큼*/
        cursor: pointer;  /*커서 모양 손모양으로 바꾸기 */
        z-index: 33;
    }
    .nav-logo>img{
        height: 30px;
        width: 30px;
        z-index: 32;
    }
    /* .show-menu하면, .nav-list 보이게  */
    
    /* .show-menu하면, .nav-toggle의 모양 X자로 */
    .show-menu{
        display: flex;
        /* backdrop-filter: blur(4px); */
    }
    
>>>>>>> 056b89ef115298f50542ca9be99ba1d8f6206d81
>>>>>>> f1d49be0baeee418e7d0a378a819cb85dcc301dc
}