main {
    margin-top: calc(44px + 100px);
}

.container {
    display: flex;
}

.info, .review {
    flex-direction: column;
}

.info-group {
    flex-direction: column;
}

.reviews {
    flex-direction: column;
}

.book-image {
    width: 200px;
    height: 400px;
}

.info {
    width: 300px;
    height: 150px;
}

.review {
    height: 150px;
}

/* delete me */
main div {
    border: 2px solid violet;
}

.book-image {
    background-color: slateblue;
}

.info {
    background-color: tomato;
}

.review {
    background-color: seagreen;
}