
html,
body{
    margin:0;
    padding:0;
    background-color: #000;
    overflow: hidden;
}
.container{
    width: 100%;
    height: auto; /*높이를 브라우저 창전체를 차지하는 방법:100vh viewport:브라우저가 표시하는 영역*/
}
/* 세계지도  */
.worldmap>.worldmapimage{
    width: 80%;
    height:auto; /*높이조절(데스크탑에서도 돌려보기)*/
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color:var(--first-color);
}
@media screen and (min-width:1023px) and (max-width:1440px) {
    .worldmap>.worldmapimage{
        margin-top: 0;
    }
}
@media screen and (max-width:720px) {
    .worldmap>.worldmapimage{
        width: 100%;
        text-align: center;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width:540px) {
    .worldmap>.worldmapimage{
        width: 90%;
        position: absolute;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        
    }
}