html,
body{
    margin: 0;
    padding:0;
}
.postcontents{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: aqua;
}