
/* 2. 날씨에 따른 색 추천 팔레트 */
/* 2-1 배경의 하얀색부분 */
.colorcard{
    top:40%;
    width: 100%;
    height: 800px;
    background-color: white;
    visibility: visible;
    position: absolute;
    z-index: 1;
}
.container{
    margin: 0;
    padding:0;
    margin-top: 24px;
    position:relative;
    width: 100vw;
    text-align: center;
    visibility: visible;
    z-index:0;
}
.row{

   display: inline;
   text-align: center;
   margin-left: 100%;
   margin-right:100%;
   top:400px;
}
/* 2-2 각 색깔 밑의 글자  */
.row h4{
    color:black;
}
/* 2-3 각 색깔 이미지 크기 */
.row img{
    width:200px;
    height:200px;
}
.weather img{
    height:600px;
    background-size: contain;
}

.contentbox{
    display: grid;
    	grid-template-columns: repeat(auto-fill,minmax(300px,auto));
    width: 800px;
    height: auto;
    max-height: 600px;
    max-width: 800px;
    position: absolute;
    
}
#colortext{
    height:auto;
    width: 80%;
    max-height: 600px;
    max-width: 800px;
    top:100px;
    position: relative;
}


/* 탭 */
@media screen and (max-width:992px) {
    .row{
        margin: 0;
        text-align: center;
        top:300px;
    }
    .row img{
        margin:16px;
    }
    .colorcard{
        top:40%;
        width: 100%;
        height: 800px;
        background-color: white;
        visibility: visible;
        position: absolute;
    }
    .contentbox{
        background-color:white;
        display: grid;
            grid-template-columns: repeat(auto-fill,minmax(100px,auto));
        width: 100%;
        height: auto;

        position: absolute;
        margin-top: 80px;
    }

}
/* 모바일 */
@media screen and (max-width:768px) {
    
    /* 2. 날씨에 따른 색 추천 팔레트 */
    /* 2-1 color-clear 맑은 날일 때 */
    .colorcard{
        top:40%;
        width: 100%;
        height: 800px;
        background-color: white;
        visibility: visible;
        position: absolute;
    }
    .container{
        display: grid;
    }
    .row{
        margin: 0;
        text-align: center;
   
    }
    .row img{
       margin:0;
       width:200px;
    }
    .colorimg{
        position: relative;
        display: inline-block;
    }
    .contentbox{
        background-color:white;
        display: grid;
            grid-template-columns: repeat(auto-fill,minmax(400px,auto));
        width: 768px;
        height: 600px;

        position: absolute;
        margin-top: 100px;
    }

        

    
}