
/* 1.상단(날씨 API, colorcomment) */
/* 1-1. 날씨에 다른 이미지 화면  */
.weather img{
    height:60vh;
    
}
/* 1-2. 오늘은 노란색입니다. 문구 */
#colorcommentY{
    position: relative;
    width:48vw;
    height:42vh;
    left:200px;
}
/* 2. 하단(소개,기능) */
#grid{
    position: relative;

    display:grid;
    top:5vh;
    grid-template-rows:26em 30em 30em;
  }
  .intro{
    position: relative;
    background-color: white;
    font-family: 'Gothic A1', sans-serif;
    font-size: 24pt;
  }
  .introtitle{
    position: absolute;
    left:300px;
    animation:introtitle 1s ease-out;
  }
  .introtitle2{
    position: absolute;
    left:300px;
    top:20%;
    animation:introtitle 1s ease-out;
  }
  .fun{
    
    position: relative;
    background-color: white;
    font-family: 'Gothic A1', sans-serif;
    font-size: 24pt;
    
  }
  .funtitle{
    right: 300px;
    position: absolute;
    animation:introtitle2 0.4s ease-out;
  }
  .funtitle2{
    top:20%;
    right: 300px;
    position: absolute;
    animation:introtitle2 0.6s ease-out;
  }
  .funtitle3{
    top:25%;
    right: 300px;
    position: absolute;
    animation:introtitle2 0.8s ease-out;
  }
  .funtitle4{
    top:30%;
    right: 300px;
    position: absolute;
    animation:introtitle2 1s ease-out;
  }
  @keyframes introtitle{
    from{
        left:-100px;
        opacity: 0;
    }
    to{
        left:300px;
        opacity: 1;
    }
  }
  @keyframes introtitle2{
    from{
        animation-delay: 10s;
        right:-100px;
        opacity: 0;
        animation-delay: 1s;
    }
    to{

        right:300px;
        opacity: 1;
        
    }
  }

/* 탭 */
@media screen and (max-width:992px) {
    /* 상단 */
    .weather img{
        height:60vh;
        background-size: contain;
    }
    #colorcommentY{
        width:60vw;
        height:32vh;
        left:0;
    }
    /* 2. 하단(소개,기능) */
    #grid{
        position: relative;
        display:grid;
        top:5vh;
        grid-template-rows:20em 20em 30em;
    }
    /* 2-2소개 */
    .intro{
        position: relative;
        background-color: white;
        font-family: 'Gothic A1', sans-serif;
        font-size: 20pt;
    }
    .introtitle{
        position: absolute;
        left:100px;
        animation:introtitle 1s ease-out;
      }
      .introtitle2{
        position: absolute;
        left:100px;
        top:20%;
        animation:introtitle 1s ease-out;
      }
      @keyframes introtitle{
        from{
            left:-100px;
            opacity: 0;
        }
        to{
            left:100px;
            opacity: 1;
        }
      }
      .funtitle{
        right: 100px; 
      }
      .funtitle2{
        
        right: 100px;
      }
      .funtitle3{
        
        right: 100px;
       
      }
      .funtitle4{
        
        right: 100px;
        
      }
    .fun{
        position: relative;
        background-color: white;
        font-family: 'Gothic A1', sans-serif;
        font-size: 20pt;
    }
    @keyframes introtitle2{
        from{
            animation-delay: 10s;
            right:-100px;
            opacity: 0;
            animation-delay: 1s;
        }
        to{
            
            right:100px;
            opacity: 1;
            
        }
      }
}
/* 모바일 */
@media screen and (max-width:768px) {
    /* 사진 밑 내용이 들어갈 컨테이너 */
    /* 1. 상단 */
    .weather img{
        height:40vh;
        background-size: contain;
    }
    #colorcommentY{
        position: relative;
        width:60vw;
        height:20vh;
    }
    /* 하단(소개,기능) */
    #grid{
        position: relative;
        display:grid;
        top:5vh;
        grid-template-rows:16em 16em 30em;
    }
    .intro{
        position: relative;
        background-color: white;
        font-family: 'Gothic A1', sans-serif;
        font-size: 16pt;
    }
    .fun{
        position: relative;
        background-color: white;
        font-family: 'Gothic A1', sans-serif;
        font-size: 16pt;
    }
    .introtitle{
        position: absolute;
        left:50px;
        animation:introtitle 1s ease-out;
      }
      .introtitle2{
        position: absolute;
        left:50px;
        top:30%;
        animation:introtitle 1s ease-out;
      }
      @keyframes introtitle{
        from{
            left:-50px;
            opacity: 0;
        }
        to{
            left:50px;
            opacity: 1;
        }
      }
      .funtitle{
        right: 50px; 
      }
      .funtitle2{
        
        right: 100px;
      }
      .funtitle3{
        
        right: 50px;
       
      }
      .funtitle4{
        
        right: 100px;
        
      }
    @keyframes introtitle2{
        from{
            animation-delay: 10s;
            right:-50px;
            opacity: 0;
            animation-delay: 1s;
        }
        to{
            right:50px;
            opacity: 1;
            
        }
      }

    
}