body{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:white;
    
}
li{list-style:none}
/*1-1 네비게이션 바*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#9A7B57;
    padding:8px 12px
    
}
/*1-2 네비게이션 바 로고 */
.navbar_logo{
    font-size: 40px; 
    color:white; 
    display: flex;
  
}
.navbar_logo img{
    width: 80px;
    height: 50px;

}