body{
    margin:0;
    padding:0;
}
.suvhead{
    background-color: white;
    top:100px;
    font-size: 20pt;
    position: relative;
    display: flex;
    justify-content : center;
    align-items:center;
}
.radios{
    column-gap: 14em;
   
}
.groupoption>h4{
    line-height: 300px;
    text-align: center;
    display: inline;
    position: absolute;
}
.radios{
    position: relative;
    display: flex;
    justify-content : center;
    align-items:center;
    top:200px;
    background-color: white;
    column-gap:5em;
    height:200px;
}
.radio1{
    width: 80px;
    height:80px;
}
.radio2{
    display: table-cell;
    width:60px;
    height:60px;
    vertical-align: middle;
}
.radio3{
    display: table-cell;
    width:30px;
    height:30px;
    vertical-align: middle;
}
.suvtexter{
    position: relative;
    text-align: center;
    justify-content:space-between;
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;
    word-spacing: 30em;
}
.q1{
    position:relative;
    top:180px;
    text-align: center;
}
.q2{
    position:relative;
    top:180px;
    text-align: center;
}
.result{
    text-align: center;
}
.resultbtn{
    position: relative;
    top:200px;
}
@media screen and (max-width:992px) {
    body{
        margin:0;
        padding:0;
    }
    .suvhead{
        background-color: white;
        top:100px;
        font-size: 20pt;
        position: relative;
        display: flex;
        justify-content : center;
        align-items:center;
    }
    .radios{
        column-gap: 10em;
       
    }
    .groupoption>h4{
        line-height: 300px;
        text-align: center;
        display: inline;
        position: absolute;
    
    }

    .radios{
        position: relative;
        display: flex;
        justify-content : center;
        align-items:center;
        top:200px;
        background-color: white;
        column-gap:5em;
        height:200px;
    }
    .radio1{
        width: 80px;
        height:80px;
    }
    .radio2{
        display: table-cell;
        width:60px;
        height:60px;
        vertical-align: middle;
    }
    .radio3{
        display: table-cell;
        width:30px;
        height:30px;
        vertical-align: middle;
    }
    .suvtexter{
        position: relative;
        text-align: center;
        justify-content:space-between;
        background-color: white;
        font-family: 'Noto Sans KR', sans-serif;
        word-spacing: 30em;
    }
    .q1{
        position:relative;
        top:180px;
        text-align: center;
    }
    .q2{
        position:relative;
        top:180px;
        text-align: center;
    }
    .result{
        text-align: center;
    }
    .resultbtn{
        position: relative;
        top:200px;
    }
}
@media screen and (max-width:768px) {
    .suvhead{
        background-color: white;
        top:100px;
        font-size: 20pt;
        position: relative;
        display: flex;
        justify-content : center;
        align-items:center;
    }
    .groupoption{
        margin: 0;
        padding: 0;
    }
    .groupoption>h4{
        margin:0;
        padding: 0;
        line-height: 300px;
        text-align: center;
        display: inline;
        position: absolute;
    
    }
    /* 라디오 버튼 */
 
    
    .radios{
        position: relative;
        display: flex;
        justify-content : center;
        align-items:center;
        top:200px;
        background-color: white;
        column-gap: 20px;
        height:200px;
    }
    .radio1{
        width: 80px;
        height:80px;
    }
    .radio2{
        display: table-cell;
        width:60px;
        height:60px;
        vertical-align: middle;
    }
    .radio3{
        display: table-cell;
        width:30px;
        height:30px;
        vertical-align: middle;
    }
    /* 매우좋음,매우 나쁨 */
    .suvtexter{
        position: relative;
        text-align: center;
        justify-content:space-between;
        background-color: white;
        font-family: 'Noto Sans KR', sans-serif;
        word-spacing: 300px;
    }
    .q1{
        position:relative;
        top:180px;
        text-align: center;
    }
    .q2{
        position:relative;
        top:180px;
        text-align: center;
    }
    .result{
        text-align: center;
    }
    .resultbtn{
        position: relative;
        top:200px;

    }

}